<!DOCTYPE html>
<html>
<head>
  <title>Shoutr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= [controller_name, action_name].join("-") %>">

<header class="top-bar">
  <nav class="feature-links">
    <%= link_to "Home", root_path %>
  </nav>
  <nav class="user-links">
    <% if signed_in? %>
      Hi, <%= current_user.username %>
      (<%= link_to "Sign Out", session_path, method: :delete %>)
    <% else %>
      <%= link_to "Sign In", new_session_path %>
      <%= link_to "Sign Up", new_user_path %>
    <% end %>
  </nav>
</header>

<section id="main-content">
  <%= yield %>
</section>

</body>
</html>
