<!DOCTYPE html>
<html>
<head>
  <title>Shoutr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="nav_bar">
  <nav class="feature_links">
    <%= link_to "Home", root_path %>
  </nav>
  <nav class="user_links">
    <% if signed_in? %>
      <div class="greeting">
        Hi, <%= current_user.username %>
      </div>
      <%= link_to "Sign Out", session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_session_path %>
      <%= link_to "Sign Up", new_user_path %>
    <% end %>
  </nav>
</header>

<%= yield %>

</body>
</html>
